/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee}
.container{
  padding: 10%;
  margin: auto;
}
.mt-auto{
  margin: auto;
}
.center-area{
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;

}
.mx-2{
  margin: 0 20px !important;
}
.py-2{
  padding: 20px 0;
}
